body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    .columns.content {
        /* Default style: single column */
      column-count: 1;
        
        /* Prevent list items from breaking across columns */
        li {
          break-inside: avoid;
        }
        
        /* Medium screens: two columns */
    }
        @media (min-width: 1200px) {
    .columns.content {
            column-count: 2;
            }
        }
        
        /* Wide screens: three columns */
        @media (min-width: 1800px) {
    .columns.content {
            column-count: 3;
            }
        }
    
    .navbar {
        justify-content: space-around !important;

        h1 {
            font-style: italic;
            font-size: 100%;
            opacity: .4;
        }
    }
}
