body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    @media (max-width: 1400px) {
        .toc {
            display: inherit;
        }
    }

    .toc-container {
        max-height: 95% !important;
    }

    .content {
        max-width: 850px !important;
        margin-left: 10%;
        margin-right: auto;
    }
    
    .maxwidth.content {
        max-width: 95%;
    }

    .columns.content {
        /* Default style: single column */
      column-count: 1;
        
        /* Prevent list items from breaking across columns */
        li {
          break-inside: avoid;
        }
        
        /* Medium screens: two columns */
    }
        @media (min-width: 1050px) {
    .columns.content {
            column-count: 2;
            }
        }
        
        /* Wide screens: three columns */
        @media (min-width: 1600px) {
    .columns.content {
            column-count: 3;
            }
        }
    
    .navbar {
        justify-content: space-around !important;
        display: none;

        h1 {
            font-style: italic;
            font-size: 100%;
            opacity: .4;
        }
    }
    .HyperMD-task-line[data-task="x"] {
  // color: rgba(255, 255, 255, .2) !important;
  font-weight: 2 00 !important;
}

.tasks-group-heading,
.tasks-group-heading>p {
  margin-block-end: 0 !important;
}

.cm-scroller {
  padding-top: 0 !important;
}

.movie img {
  display: block !important;
  float: left;
  clear: right;
  margin: 0 1em;
  width: auto !important;
}

/* .metadata-container {
  float: left;
  max-width: 20rem;
  padding-left: 1rem;
} */

/* Bigger popovers */

.popover.hover-popover>.markdown-embed {
  height: 100%;
  max-height: 60vh;
  max-width: 60vh;
  overflow: scroll;
}

/* Canvas cards */
.canvas img[alt~="canvas-top"] {
  position: relative;
  left: -24px;
  top: -24px;
  object-fit: cover;
  width: calc(100% + 48px);
  max-width: none;
  display: block;
  margin-bottom: -12px;
}

/* Centered H1 */

/* EDIT MODE */
.HyperMD-header.HyperMD-header-1 {
  text-align: center !important;
}

/* PREVIEW MODE */
.markdown-preview-view h1 {
  text-align: center !important;
}

li.plugin-tasks-list-item span.tasks-backlink>a {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%238899A6' d='M15 9l6-6s6-6 12 0 0 12 0 12l-8 8s-6 6-12 0c-1.125-1.125-1.822-2.62-1.822-2.62l3.353-3.348S14.396 18.396 16 20c0 0 3 3 6 0l8-8s3-3 0-6-6 0-6 0l-3.729 3.729s-1.854-1.521-5.646-.354L15 9z'/%3E%3Cpath fill='%238899A6' d='M20.845 27l-6 6s-6 6-12 0 0-12 0-12l8-8s6-6 12 0c1.125 1.125 1.822 2.62 1.822 2.62l-3.354 3.349s.135-1.365-1.469-2.969c0 0-3-3-6 0l-8 8s-3 3 0 6 6 0 6 0l3.729-3.729s1.854 1.521 5.646.354l-.374.375z'/%3E%3C/svg%3E");
  height: .9em;
}
}
