body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    .navbar {
        justify-content: space-around !important;

        h1 {
            font-style: italic;
            font-size: 100%;
            opacity: .4;
        }
    }
}
